/bin
/.go
/.push-*
/.container-*
/.dockerfile-*

# Go Vendor
/vendor

# Emacs save files
*~
\#*\#
.\#*

# Editor files
.idea
.vs

# Test outputs
cmd/_test_output
*.test
*.coverprofile
**/junit.xml

# Mac
.DS_Store